<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>hello socket</div>
    <input type= "text" id = "msg">
    <input type= "button" id = "btn" value = "버튼">  
    <div id = "content">

    </div>
    <script type = "text/javascript" src = "./socket.io.js"></script>
    <script type = "text/javascript">
        let socket = io('http://localhost:4000')

        socket.on('connect',()=>{
            const msg = document.querySelector('#msg')
            msg.value = '접속이 되었어'
        })

        const btn = document.querySelector('#btn')
        btn.addEventListener('click',()=>{
            const msg = document.querySelector('#msg')
            socket.emit('send',{msg:msg.value})
            const content = document.querySelector('#content')
            content.innerHTML += `내가쓴글 ${msg.value} <br/>`
        })

        socket.on('call',(data)=>{
            const content = document.querySelector('#content')
            content.innerHTML += `남이쓴글 ${data} <br/>` 
        })
    </script>
</body>
</html>